
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared styles */
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
.secondary-bg{
    background-color: #FFF8F3;

}
.text-primary{
    color: #FD6E0A;

}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    padding: 18px 35px;
    color: white;
    border-radius: 5px;
    font-size:20px ;
    border:none;
    margin-bottom: 20px;
}
.btn-primary:hover{
    background-color: #e65c00;
    cursor: pointer;
    transition: 0.3s;
}
nav li a:hover{
    color: #FD6E0A;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
    padding: 0 20px 0 20px;
}
.text-center{
    text-align: center;

}
/*header*/
.header{
    background-image:url(../images/developer.png) , url(../images/header_bg.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;
    background-size: auto, cover;
    
}



@media screen and (max-width: 576px) {
    .banner{
        flex-direction: column;
        margin: 20px;
    }
    .banner-profile-pic{
        width: 100%;
       
   
    }
    .header{
        background-image: none;
    }
    nav,
    nav > ul{
        flex-direction: column;
    }
   nav > ul{
    gap: 15px;
    margin-top: 10px;
   }
   nav{
    align-items: flex-start;
   }
   .btn-primary{
    margin-bottom: 20px;
   }
   
}



/* Nav styles */

nav{
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.nav-title{
    font-weight:800;
    font-size: 45px;

}
nav ul{
     display:  flex;
     align-items: center;
     gap:40px;
     
     

    
}
nav ul li{
    list-style: none;
    margin-right: 50px;
    
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}

/* banner styles */
.banner-greetings{
    font-size:45px ;
    font-weight: 600;


}
.banner-title{
    font-weight: bold;
    font-size: 65px;
}
.banner-profile-pic{
    max-width: 100%;
    height: auto;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding: 40px 20px;
    gap: 40px;
}
.banner-content{
    max-width: 580px;
}
/*main styles*/
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/*about relates styles*/
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    
}
@media screen and (max-width: 576px){
    .about{
        padding:20px;
    }
    .about-items{
        flex-direction: column;
    }
    
}
/*items*/
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: bold ;

    
}
/*skills-container style*/
.skills-container{
    display: flex;
    gap: 24px;
    justify-content: space-around;
    
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);

}

@media screen and (max-width: 576px) {
    .skills-container{
        flex-direction: column;
    }
    
}
/*resume-section-style*/
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-description{
    color: #757575;
}
.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom:20px ;
    color: #757575;
}
.resume hr{
    margin: 30px 5px;
}
.resume-download-cv{
    margin: 50px;
    
}
@media screen and (max-width: 576px) {
    .resume-container{
        flex-direction: column;
    }
    
}
/*footer*/
footer{
    padding: 130px 230px ;
    display: flex;
    gap: 100px;

}
.footer-column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    height: 65px;
    border-radius: 5px;
    background-color:white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
@media screen and (max-width: 576px) {
    footer{
        flex-direction: column;
        padding: 20px;
    
    }
    .footer-column{
        width: 100%;
    }
    footer input[type="text"], footer input[type="email"], footer textarea{
        width: calc(100% - 40px);
    }
    
}